.header__menu__container {
    justify-content: flex-end;
    height: 50px;
}

.header__menu__content {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

.header__menu__top__image, .header__menu__image {
    width: 30px;
}

.header__menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
}

.header__menu__list:nth-child(2), .header__menu__list:nth-child(3) {
    background-color: var(--transparent-background-color);
    backdrop-filter: blur(10px);
}

.header__container {
    background-color: var(--transparent-background-color);
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
}

.header__container a {
    text-decoration: none;
    cursor: pointer;
}

.header__menu--hidden {
    display: none;
}

.header__menu__list:nth-child(1) {
    cursor: pointer;
}

.header__menu__list__content {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.header__menu__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 2px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.header__menu__label .header__menu__switch__button {
    content: '';
    position: absolute;
    top: -10px;
    left: 0px;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .header__menu__label .header__menu__switch__button {
    left: calc(62%);
}

.header__menu__label:active .header__menu__switch__button {
    background-color: lightgray;
}

.header__menu__content:hover .header__menu--hidden{
    display: flex;
}

.header__menu__label--hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header__menu__image {
        width: 25px;
    }
    
    .header__menu__label {
        width: 40px;
    }

    .header__menu__label  .header__menu__switch__button{
        width: 18px;
        height: 18px;
        top: -8px;
    }

    .react-switch-checkbox:checked + .header__menu__label .header__menu__switch__button {
        left: calc(50%);
    }

    .header__menu__list__content {
        margin: 0 17px;
    }
}

@media screen and (max-width: 768px) {
    .header__scroll {
        font-family: bagnardsans, sans-serif;
        gap: 20px;
    }

    .header__content:nth-child(3) {
        display: block;
        position: absolute;
        right: 0;
        top: 120px;
        background-color: #E3913F;
        border-radius: 5px 0 0 5px;
        z-index: 10;
    }
}