// $color-scheme: (
//     (light-theme, white, #014141),
//     (dark-theme, black, white)
// );

$main-background-color: white;

// @mixin theme($theme-name, $global-background, $global-color ) {
//     .#{$theme-name} {
.header__container {
    background-color: var(--transparent-background-color);
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
}

.header__container a {
    text-decoration: none;
    cursor: pointer;
}

// .header__container--dark {
//     background-color: black;
// }

.header__content {
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header__content:nth-child(3) {
    justify-content: flex-end;
}

.language__li:nth-child(1) {
    cursor: pointer;
}

.header__logo {
    justify-content: flex-start;
}

.header__logo img{
    width: 40px;
    margin: 0 15px;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 45px;
    font-family: bagnardsans, sans-serif;
}

.header__link--link {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.link__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test__square {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130%;
}

.test__carre {
    rotate: 45deg;
    width: 7px;
    height: 7px;
    background-color: var(--primary-text-color);
}


.link__container:hover .test__line {
    width: 45%;
    height: 1px;
    background-color: var(--primary-text-color);
    transition: all 0.35s;
}

.test__line {
    width: 0;
    height: 1px;
    background-color: var(--primary-text-color);
    transition: all 0.35s;
}

.inactive {
    color: grey;
}

.active {
    color: var(--primary-text-color);
}

.active .test__line {
    width: 45%;
    height: 1px;
    background-color: var(--primary-text-color);
}

.transparency {
    opacity: 0;
    transition: all 0.5s ;
}

.link__dark-mode {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.link__dark-mode img {
    height: 25px;
}

.dark__test__carre {
    background-color: black;
    width: 12px;
    height: 12px;
    rotate: 45deg;
    cursor: pointer;
}

.dark__visual {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.dark__test__line:nth-child(1) {
    height: 2px;
    width: 0px;
    background-color: black;
}

.dark__test__line:nth-child(3) {
    height: 2px;
    width: 35px;
    background-color: black;
}

.language__super__container {
    justify-content: flex-end;
    height: 50px;
}

.language__container img {
    width: 30px;
}

.language__container {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

.language__li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
}

.language__li:nth-child(2), .language__li:nth-child(3) {
    background-color: var(--transparent-background-color);
    backdrop-filter: blur(10px);
}

.language__hidden {
    display: none;
}

.language__container:hover .language__hidden{
    display: flex;
}

.language__content {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 7px;
    border: none;
    background: none;
    cursor: pointer;
}

// regarder pour réduire le switch en mode tablette
.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 2px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: -10px;
    left: 0px;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(63%);
  }
  
  .react-switch-label:active .react-switch-button {
    background-color: lightgray;
  }

  @media screen and (max-width: 1024px) {

  }

  @media screen and (max-width: 768px) {
    .header__logo {
        display: none;
    }

    .header__content {
        justify-content: center;
        gap: 10px;
    }

    .header__container {
        justify-content: center;
    }

    .header__links {
        font-family: bagnardsans, sans-serif;
    }

    .header__content:nth-child(3) {
        display: block;
        position: absolute;
        right: 0;
        top: 120px;
        background-color: #E3913F;
        border-radius: 5px 0 0 5px;
        z-index: 10;
    }

    .home__introduction {
        flex-direction: column;
    }

  }
// }
// }