//common to th three components
.header__content {
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .header__container {
        justify-content: center;
    }
    
    .header__content {
    justify-content: center;
    gap: 10px;
    }
}
