footer {
    background-color: var(--transparent-background-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    color: var(--primary-text-color);
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 2px;
}

.footer__credit {
    font-size: 12px;
}
