.home__presentation__bigContainer {
    width: 100%;
}

.home__presentation--background {
    width: 100%;
    background-color: var(--tertiary-background-color);
    display: flex;
    justify-content: center;
}

.home__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.home__title--container {
    align-self: flex-start;
    margin: 50px 0 0 90px;
}

.home__softwares_title {
    font-family: noctisHeavy, sans-serif;
}

.home__intro_container {
    width: 75%;
    // height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -30px 0 0 0;
}

.home__intro_container p {
    text-align: justify;
    color: var(--primary-text-color);
    font-family: bagnardsans, sans-serif;
}

.home__software_bigsquare {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}


.home__software_square {
    width: 65px;
    height: 65px;
    position: relative;
    background-color: var(--tertiary-background-color);
    rotate: 45deg;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.15s ease-out;
}

.home__software_square:nth-child(even) {
    top: 60px;
}

.home__software_square img {
    rotate: -45deg;
    max-width: 85%;
    max-height: 85%;
}

.home__software_square:hover {
    box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.4);
}

.home__intro_square--container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 15px;
    rotate: 45deg;
    max-width: 700px;
    width: 300vw;
    aspect-ratio: 1/ 1;
}

.home__intro_square--1 {
    background-color: var(--tertiary-background-color);
    border-radius: 5px;
    box-shadow: inset 10px 5px 15px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease-out;
    grid-column: 3/7;
    grid-row: 3/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__intro_square--2--grid {
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    box-shadow:  10px 5px 15px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease-out;
    grid-column: 7/9;
    grid-row: 4/6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}

.home__intro_square--1 img {
    max-width: 115%;
    max-height: 115%;
    rotate: -45deg;
    position: relative;
    bottom: 2vw;
    right: 2vw;
}

.home__intro_square--2--grid img {
    max-width: 70%;
    max-height: 70%;
    rotate: -45deg;
}

.home__intro_square--1:hover {
    box-shadow: inset 15px 10px 12px rgba(0, 0, 0, 0.7);
}

.home__intro_square--2--grid:hover {
    box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
    .home__intro_container {
        flex-direction: column-reverse;
    }

    .home__software_bigsquare {
        margin-bottom: 60px;
    }

    .home__intro_square--container {
        width: 50vw;
        height: 50vw;
    }

    .home__intro_square--1 img {
        bottom: 4vw;
        right: 4vw;
    }

    .home__title--container {
        align-self: center;
        margin-left: 0px;
        margin-right: 28px;
    } 
}