.error__background {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color)
}

.error__container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error__container a {
    font-size: 24px;
    font-weight: 700;
    color: red;
    font-family: bagnardsans, sans-serif;
}